.container{
    width: 50%;
    margin: 0 auto;
}

.upload-area{
width: 70%;
    height: 200px;
    border: 2px solid #c5b950;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    overflow: auto;
    border-radius: 15px;
    font-size: 14px;
}

.upload-area:hover{
    cursor: pointer;
}

.upload-area h1{
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 50px;
    color: darkslategray;
}

#file{
    display: none;
}

/* Thumbnail */
.thumbnail{
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;
    margin: 5px;
}

.size{
    font-size:12px;
}